@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/helveticaNeue/helveticaneue.woff") format("woff"), url("../fonts/helveticaNeue/helveticaneue.woff2") format("woff2"); }

.container {
  width: 1440px;
  margin: auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 300;
  padding: 85px 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

h1 {
  margin: 0; }

h3 {
  font-size: 24px;
  margin: 0; }

button {
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

ul {
  padding: 0;
  margin: 0; }

.hidden {
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.button__plain {
  background-color: transparent; }

.button__active {
  background: -webkit-gradient(linear, left bottom, left top, from(#4288FA), to(#48A8F6));
  background: -webkit-linear-gradient(bottom, #4288FA, #48A8F6);
  background: -o-linear-gradient(bottom, #4288FA, #48A8F6);
  background: linear-gradient(0deg, #4288FA, #48A8F6);
  color: #FFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.visual {
  width: 469px;
  margin-right: 108px;
  padding-left: 2px; }
  .visual__image {
    margin-bottom: 21px; }
  .visual__switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }

.house__floors {
  position: absolute;
  z-index: 103;
  bottom: 229px;
  left: 142px;
  margin: 0 1px; }

.house__floor {
  width: 410px;
  height: 130px;
  margin-bottom: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }

.house__person {
  width: 136px;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px;
  background-position: center 41px;
  background-repeat: no-repeat; }

.dayNight-checkbox {
  height: 0;
  width: 0;
  visibility: hidden; }

.dayNight-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 133px;
  height: 51px;
  background: #ABCADD;
  background-image: url("../img/day.svg");
  background-repeat: no-repeat;
  background-position: 20px 4px;
  display: block;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: relative; }
  .dayNight-label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 86px;
    width: 43px;
    height: 43px;
    background: #fff;
    -webkit-border-radius: 90px;
            border-radius: 90px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.dayNight-checkbox:checked + .dayNight-label {
  background: #393A59;
  background-image: url("../img/night.svg");
  background-repeat: no-repeat;
  background-position: 67px 4px; }

.dayNight-checkbox:checked + .dayNight-label:after {
  -webkit-transform: translateX(-190%);
      -ms-transform: translateX(-190%);
          transform: translateX(-190%); }

.main__heading {
  font-family: Roboto;
  font-size: 56px;
  margin: 30px 0 27px 0; }

.main__buttons {
  position: relative;
  width: 426px;
  height: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #E4EAEE;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  outline: none;
  margin-bottom: 38px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main__button {
  width: 212px;
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  padding: 15px 25px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }

.main__add {
  position: relative; }
  .main__add:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 23px solid #fff;
    position: absolute;
    top: -21px;
    left: 85px; }

.main__filter {
  position: relative; }
  .main__filter:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 23px solid #fff;
    position: absolute;
    top: -21px;
    left: 300px; }

.form {
  width: 640px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 44px 0px #cfcfcf;
          box-shadow: 0px 0px 44px 0px #cfcfcf; }
  .form__blocks {
    padding: 28px 35px 0 35px; }
  .form__block {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__heading {
    font-size: 24px;
    padding: 30px 35px 26px 35px;
    border-bottom: solid 1px #EAECF0; }
  .form__slider {
    width: 427px;
    height: 49px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px #E4EAEE;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    outline: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .form__slider_element {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .form__slider_radio {
      width: 212px;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      padding: 15px 25px;
      cursor: pointer;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .form__slider_input {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      display: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
      .form__slider_input:checked + label {
        background: -webkit-gradient(linear, left bottom, left top, from(#4288FA), to(#48A8F6));
        background: -webkit-linear-gradient(bottom, #4288FA, #48A8F6);
        background: -o-linear-gradient(bottom, #4288FA, #48A8F6);
        background: linear-gradient(0deg, #4288FA, #48A8F6);
        color: #FFF;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
  .form__text {
    color: #A1BBCD;
    width: 139px;
    margin-top: 15px;
    margin-bottom: 0;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .form__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 426px;
    padding: 15px 25px;
    border: solid 1px #E4EAEE;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    outline: none; }
    .form__input:focus {
      border: 1px solid #47A4F7; }
  .form__menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
    .form__menu :hover {
      -webkit-box-shadow: 0px 0px 3px gray;
              box-shadow: 0px 0px 3px gray; }
    .form__menu-wrapper {
      width: 426px;
      height: 50px;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border: solid 1px #E4EAEE;
      outline: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      cursor: pointer;
      padding-left: 25px; }
    .form__menu-arrow {
      position: absolute;
      border: 12px solid transparent;
      right: 26px; }
      .form__menu-arrow:nth-child(1) {
        top: 21px;
        border-top-color: #000; }
      .form__menu-arrow:nth-child(2) {
        top: 19px;
        border-top-color: #FFF; }
  .form__radio {
    width: 426px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px 0; }
    .form__radio-item {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    .form__radio-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px; }
    .form__radio-text {
      position: relative;
      padding: 0 0 0 35px;
      cursor: pointer;
      color: #E4EAEE; }
      .form__radio-text:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #CDD1DA;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #FFF; }
      .form__radio-text:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        width: 19px;
        height: 19px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: -webkit-gradient(linear, left bottom, left top, from(#4288FA), to(#48A8F6));
        background: -webkit-linear-gradient(bottom, #4288FA, #48A8F6);
        background: -o-linear-gradient(bottom, #4288FA, #48A8F6);
        background: linear-gradient(0deg, #4288FA, #48A8F6);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
    .form__radio-input:checked + .form__radio-text {
      color: #000; }
    .form__radio-input:checked + .form__radio-text:after {
      opacity: 1; }
  .form__buttons {
    padding: 25px 35px;
    border-top: solid 1px #EAECF0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__buttons_add {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .form__buttons_filter {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .form__button {
    font-size: 18px;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    border: none;
    padding: 14px 63px; }
    .form__button_small {
      width: 209px;
      background-color: #EBEAEA; }
    .form__button_big {
      width: 341px;
      background: -webkit-gradient(linear, left bottom, left top, from(#4288FA), to(#48A8F6));
      background: -webkit-linear-gradient(bottom, #4288FA, #48A8F6);
      background: -o-linear-gradient(bottom, #4288FA, #48A8F6);
      background: linear-gradient(0deg, #4288FA, #48A8F6);
      color: #fff; }

.popup {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  position: absolute;
  right: 100px; }
  .popup__heading {
    padding: 30px 35px;
    font-size: 25px;
    font-family: Helvetica;
    border-bottom: solid 1px #EAECF0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .popup__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .popup__img {
    width: 23px;
    height: 31px;
    background-image: url("../img/boy.svg");
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    margin-left: 22px; }
  .popup__cross {
    width: 19px;
    height: 19px;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    right: 0;
    cursor: pointer; }
  .popup__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 29px 35px 44px 35px;
    background-color: #FBFCFD; }
  .popup__col1 {
    width: 181px;
    margin-right: 50px; }
  .popup__col2 {
    width: 300px;
    margin-right: 40px; }
  .popup__text {
    color: #A1BBCD;
    width: 139px;
    margin: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .popup__value {
    font-size: 20px;
    color: #333333; }
