
.popup {

    align-self: center;
    position: absolute;
    right: 100px;

    &__heading {
        padding: 30px 35px;
        font-size: 25px;
        font-family: Helvetica;
        border-bottom: solid 1px #EAECF0;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: flex;
    }

    &__img {
        width: 23px;
        height: 31px;
        background-image: url('../img/boy.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 22px;
    }

    &__cross {
        width: 19px;
        height: 19px;
        background-image: url('../img/cross.svg');
        background-repeat: no-repeat;
        align-self: center;
        right: 0;
        cursor: pointer;
    }

    &__blocks {
        display: flex;
        justify-content: space-between;
        padding: 29px 35px 44px 35px;
        background-color: #FBFCFD;
    }

    &__col1 {
        width: 181px;
        margin-right: 50px;
    }

    &__col2 {
        width: 300px;
        margin-right: 40px;
    }

    &__text {
        color: $gray;
        width: 139px;
        margin: 0;
        align-self: center;
    }

    &__value {
        font-size: 20px;
        color: #333333;
    }
}